<div fxLayout="row" fxLayoutAlign="center center" style="height: 85px;"></div>
<div fxFlexFill style="padding-top: 15px">
  <div  *ngIf="content === undefined" fxLayout="column" fxLayoutAlign="center center"><mat-spinner></mat-spinner></div>

  <div *ngIf="content">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex="75">
        <mat-card-title>{{ content.title }}</mat-card-title>
        <mat-card-subtitle *ngIf="content.subtitle">{{ content.subtitle }}</mat-card-subtitle>
        <h5>{{ content.author }}</h5>
      </mat-card>
    </div>
    <br>
    <mat-horizontal-stepper>
      <mat-step *ngFor="let slide of content.slides; let slidesIndex = index">
        <div fxLayout="row" fxLayoutAlign="center center" style="margin: auto;">
          <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex="75">
            <mat-card-title>{{ slide.title }}</mat-card-title>
            <mat-card-subtitle>{{ slide.subtitle }}</mat-card-subtitle>
            <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
              <div style="text-align: center;">
                <p>{{ slide.content }}</p>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-card *ngIf="slide.keyTakeAways && slide.keyTakeAways.length > 0" fxFlex="75">
                  <i class="material-icons" matTooltip="Key Takeaway">vpn_key</i>
                  <div *ngFor="let keyTakeAway of slide.keyTakeAways">
                    {{keyTakeAway}}
                  </div>
                </mat-card>
              </div>

              <br>
              <br>

              <div>
                <div fxLayout="column" fxLayoutAlign="space-between stretch">
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field fxFlex="75">
                      <textarea [(ngModel)]="slide.yourTakeAways" matInput placeholder="You can copy and paste from the text and also add your own notes..."></textarea>
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-progress-bar mode="determinate" [value]="((slidesIndex  + 1)/(content.slides.length + 1)) * 100" fxFlex="25"></mat-progress-bar>
                    &nbsp;&nbsp;{{ slidesIndex  + 1 }} / {{ content.slides.length + 1}}
                  </div>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="end baseline">
              <button mat-button *ngIf="slidesIndex !== 0" matStepperPrevious>Back</button>
              <button mat-button *ngIf="slidesIndex === content.slides.length - 1" (click)="getMyTakeaways();" matStepperNext>Next</button>
              <button mat-button *ngIf="slidesIndex !== content.slides.length - 1" matStepperNext>Next</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-step>
      <mat-step>
        <div fxLayout="row" fxLayoutAlign="center center" style="margin: auto;">
          <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex="75">
            <mat-card-title>Personal Reflection</mat-card-title>
            <mat-card-subtitle>
              One of the most important pieces that can help everyone connect with the topic more personally and become more open is your witness and perspective! Please write a few lines here of what draws you to this topic or anything that touched you from this sharing.
            </mat-card-subtitle>
            <mat-card-content fxLayout="column" fxLayoutAlign="center stretch" style="width: 100%;">
              <div fxLayout="column" fxLayoutAlign="space-between stretch">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <mat-form-field fxFlex="75">
                    <textarea [(ngModel)]="personalReflection" matInput placeholder="Type your personal reflection here..."></textarea>
                  </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                  <mat-progress-bar mode="determinate" [value]="100" fxFlex="25"></mat-progress-bar>
                  &nbsp;&nbsp;{{ content.slides.length + 1 }} / {{ content.slides.length + 1 }}
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="end baseline">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-step>
      <mat-step>
        <div fxLayout="row" fxLayoutAlign="center center" style="margin: auto;">
          <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex="75">
            <mat-card-title>Capsules Takeaway Worksheet Preview</mat-card-title>
            <mat-card-subtitle>Press the back button at the bottom to go back and make any changes (do not use your browser's back button).</mat-card-subtitle>
            <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">

              <h3 class="mat-subheading-1">Which discussion questions would you like to ask your group?</h3>
              <ul class="list-group">
                <li class="list-group-item view overlay" *ngFor="let question of content.suggestedQuestions"
                    (click)="updateSelectedList(selectedQuestions, question)"
                    [ngClass]="{'rgba-orange-light': selectedQuestions.includes(question.trim())}">
                  <div class="mask flex-center rgba-orange-light"></div>
                  {{ question }}
                </li>
              </ul>

              <div style="padding: 25px 0px;"><mat-divider></mat-divider></div>

              <h3 class="mat-subheading-1">Select the key takeaways you want included on your takeaway worksheet</h3>
              <ul class="list-group">
                <li class="list-group-item view overlay" *ngFor="let keyTakeaway of keyTakeaways"
                    (click)="updateSelectedList(selectedKeyTakeaways, keyTakeaway)"
                    [ngClass]="{'rgba-orange-light': selectedKeyTakeaways.includes(keyTakeaway.trim())}">
                  <div class="mask flex-center rgba-orange-light"></div>
                  {{ keyTakeaway }}
                </li>
              </ul>

              <div style="padding: 25px 0px;" *ngIf="myTakeaways.length > 0"><mat-divider></mat-divider></div>

              <h3 class="mat-subheading-1" *ngIf="myTakeaways.length > 0">Review your notes</h3>
              <ul class="list-group" *ngIf="myTakeaways.length > 0">
                <li class="list-group-item" *ngFor="let myTakeaway of myTakeaways">{{ myTakeaway }}</li>
              </ul>

              <div style="padding: 25px 0px;" *ngIf="personalReflection !== ''"><mat-divider></mat-divider></div>

              <h3 class="mat-subheading-1" *ngIf="personalReflection !== ''">Review your personal reflection:</h3>
              <ul class="list-group" *ngIf="personalReflection !== ''">
                <li class="list-group-item">{{ personalReflection }}</li>
              </ul>

              <div style="padding: 25px 0px;" *ngIf="content.meta.hasVideos"><mat-divider></mat-divider></div>

              <h3 class="mat-subheading-1" *ngIf="content.meta.hasVideos">Select the key takeaways you want included on your takeaway worksheet</h3>
              <ul class="list-group" *ngIf="content.meta.hasVideos">
                <li class="list-group-item view overlay" *ngFor="let videoURL of getVideos()"
                    (click)="updateSelectedList(selectedVideos, videoURL)"
                    [ngClass]="{'rgba-orange-light': selectedVideos.includes(videoURL.trim())}">
                  <a [href]="sanitize(videoURL)" target="_blank">{{videoURL}}</a>
                </li>
              </ul>

              <div style="padding: 25px 0px;" *ngIf="content.meta.hasActivities"><mat-divider></mat-divider></div>

              <h3 class="mat-subheading-1" *ngIf="content.meta.hasActivities">An activity to share (will be included in the takeaway worksheet)!</h3>
              <ul class="list-group" *ngIf="content.meta.hasActivities">
                <li class="list-group-item">
                  {{ content.meta.activityDescription }}
                </li>
              </ul>

            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="end baseline">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="buildPDF()">Print Worksheet</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
