<div fxLayout="row" fxLayoutAlign="center center" style="height: 65px; background-color: #FF7D12;"></div>
<div fxFlexFill style="padding-top: 15px">
  <div  *ngIf="content === undefined" fxLayout="column" fxLayoutAlign="center center"><mat-spinner></mat-spinner></div>

  <div *ngIf="content">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex="75">
        <mat-card-title>{{ content.title }}</mat-card-title>
        <mat-card-subtitle *ngIf="content.subtitle">{{ content.subtitle }}</mat-card-subtitle>
        <mat-card-subtitle>{{ content.author }}</mat-card-subtitle>
      </mat-card>
    </div>
    <br>
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of content.slides; let slidesIndex = index" class="slide" fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex="75" fxLayout="row" fxLayoutAlign="center center">
          <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex="75">
            <mat-card-title>{{ slide.title }}</mat-card-title>
            <mat-card-subtitle>{{ slide.subtitle }}</mat-card-subtitle>
            <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
              <div style="text-align: center;">
                <p>{{ slide.content }}</p>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-card *ngIf="slide.keyTakeAways" fxFlex="75">
                  <i class="material-icons">vpn_key</i>
                  <div *ngFor="let keyTakeAway of slide.keyTakeAways">
                    {{keyTakeAway}}
                  </div>
                </mat-card>
              </div>

              <br>
              <br>

              <div>
                <div fxLayout="column" fxLayoutAlign="space-between stretch">
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field fxFlex="75">
                      <textarea [(ngModel)]="slide.yourTakeAways" matInput placeholder="You can copy and paste from the text and also add your own notes..."></textarea>
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-progress-bar mode="determinate" [value]="((slidesIndex  + 1)/content.slides.length) * 100" fxFlex="25"></mat-progress-bar>
                    &nbsp;&nbsp;{{ slidesIndex  + 1 }} / {{ content.slides.length}}
                  </div>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="end baseline">
              <button mat-button *ngIf="slidesIndex !== 0" (click)="slickModal.slickPrev()">Back</button>
              <button mat-button *ngIf="slidesIndex === content.slides.length - 1" (click)="getMyTakeaways(); slickModal.slickNext()">Next</button>
              <button mat-button *ngIf="slidesIndex !== content.slides.length - 1" (click)="slickModal.slickNext()">Next</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <div ngxSlickItem class="slide" fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex="75" fxLayout="row" fxLayoutAlign="center center">
          <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex="75">
            <mat-card-title>Capsules Worksheet Preview</mat-card-title>
            <mat-card-subtitle>Press the back button at the bottom to go back and make any changes (do not use your browser's back button).</mat-card-subtitle>
            <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">

              <mat-selection-list [(ngModel)]="selectedQuestions">
                <h3 mat-subheader>Which discussion questions would you like to ask your group?</h3>
                <mat-list-option *ngFor="let question of content.suggestedQuestions" [value]="question">
                  {{question}}
                </mat-list-option>
              </mat-selection-list>

              <mat-selection-list [(ngModel)]="selectedKeyTakeaways">
                <h3 mat-subheader>Select your key takeaways</h3>
                <mat-list-option *ngFor="let keyTakeaway of keyTakeaways" [value]="keyTakeaway">
                  {{keyTakeaway}}
                </mat-list-option>
              </mat-selection-list>

              <mat-list *ngIf="myTakeaways.length > 0">
                <h3 mat-subheader>Review your notes</h3>
                <mat-list-item *ngFor="let myTakeaway of myTakeaways">
                  {{myTakeaway}}
                </mat-list-item>
              </mat-list>

            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="end baseline">
              <button mat-button (click)="slickModal.slickPrev()">Back</button>
              <button mat-button (click)="buildPDF()">Print Worksheet</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </ngx-slick>
  </div>
</div>
