<mat-dialog-content fxLayout="column" fxLayoutAlign="center center" style="height: 200vh;">
  <mat-card class="notes-modal" style="padding: 50px 50px 10px; width: 40%">
    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="100">
      <strong style="font-size: 12px; color: #878787" *ngIf="type === 'highlightNotes'">HIGHLIGHTED TEXT</strong>
      <span style="font-family: 'Playfair Display'; font-size: 22px; padding-top: 5px" *ngIf="type === 'highlightNotes'">{{highlight.content}}</span>
      <strong style="font-size: 16px; padding-top: 30px;">YOUR NOTES</strong>
      <mat-form-field style="width: 100%;" floatLabel="never">
        <textarea id="note-text" class="notes-text-area" matInput rows="7" placeholder="Type your notes here" [(ngModel)]="notes"></textarea>
      </mat-form-field>

      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
        <div>
          <button mat-button (click)="cancel()" style="outline: none;">CANCEL</button>
        </div>
        <div>
          <button mat-button (click)="delete()" style="outline: none;">DELETE</button>
          <button mat-button (click)="save()" style="outline: none;">SAVE</button>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
</mat-dialog-content>
