<div fxLayout="row" fxLayoutAlign="center center" style="height: 150px;"></div>

<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="start center" style="width: 50%; padding: 20px 0;">
    <i style="font-family: 'Playfair Display'; font-size: 25px; font-weight: bold; color: #ED681C">Introduction</i>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" style="width: 50%; padding: 10px 0;">
    <p style="font-family: 'Playfair Display'; font-size: 20px;">
      GK Chesterton once remarked that singing should not be limited to trained singers, since singing is a natural impulse, just like laughter: it would be strange to leave laughing up to professional and trained “laughers” alone.  At Catholic Capsules, we feel the same way  about theology. Talking about God, the church, mission, scripture and holiness should not be limited to those who undertake it as a serious academic discipline. These topics should also be shared around kitchen tables and couches - among friends and family. Catholic Capsules is a tool meant to encourage non-professional-theologians to feel comfortable to learn, think, talk and share topics they are interested in with a personal touch. We hope Catholic Capsules bring confidence in learning and joy in sharing the Good News.
    </p>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" style="width: 50%; padding: 20px 0;">
    <i style="font-family: 'Playfair Display'; font-size: 25px; font-weight: bold; color: #ED681C">About Us</i>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" style="width: 50%; padding: 10px 0;">
    <p style="font-family: 'Playfair Display'; font-size: 20px;">
      Catholic Capsules began as an idea among some Jesus Youth members who were part of small faith sharing groups and looking for ways to learn and share more. The traces of simplicity, joy, friendship and curiosity are organic marks of Jesus Youth faith sharing groups. Along the way many with trained and naturally developed gifts of writing, technology and design have helped make the project a reality. Learn more about Jesus Youth here: www.jesusyouth.org
    </p>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" style="width: 50%; padding: 20px 0;">
    <i style="font-family: 'Playfair Display'; font-size: 25px; font-weight: bold; color: #ED681C">Contact Us</i>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" style="width: 50%; padding: 10px 0;">
    <div fxLayout="column">
      <p style="font-family: 'Playfair Display'; font-size: 20px;">
        Please reach out to us at <a href = "mailto:catholiccapsules@jesusyouth.us" style="font-family: 'Playfair Display'; font-size: 20px; color: #ED681C;">CatholicCapsules@jesusyouth.us</a>
      </p>
    </div>
  </div>
</div>

<br><br><br><br><br>
