<mat-dialog-content style="maxHeight: 100vh">
  <div fxLayout="column" fxLayoutAlign="center center" style="padding: 100px;">
    <div class="col-sm-4 capsule-container">
      <div fxLayout="row"><div class="capsule-border details">
        <mat-card class="view capsule">
          <img src="{{ 'https://gitcdn.link/cdn/rosmaryg/capsules-content/master/images/' + data.id + '.jpg' }}" class="img-fluid" alt="">
          <div class="mask flex-center">
          </div>
        </mat-card>
      </div>
        <button mat-icon-button color="accent" style="outline: none;" (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between center">
        <br>
        <h3 class="white-text data-text">{{ data.title }}</h3>
        <i class="white-text data-text capsule-subheading">{{ data.meta.author }}</i>
        <br *ngIf="data.description">
        <p class="white-text data-text" *ngIf="data.description">{{ data.description }}</p>
        <br>
        <i class="white-text data-text capsule-subheading">Number of slides:</i>
        <!--   TODO: remove default slide count     -->
        <h3 class="accent-color">10</h3>
        <br *ngIf="data.meta.tags && data.meta.tags.length > 0">
        <i class="white-text data-text capsule-subheading" *ngIf="data.meta.tags && data.meta.tags.length > 0">Tags:</i>
        <div *ngIf="data.meta.tags && data.meta.tags.length > 0">
          <mat-chip-list aria-label="capsule tags">
            <mat-chip *ngFor="let tag of data.meta.tags">{{ tag }}</mat-chip>
          </mat-chip-list>
        </div>
        <br>
        <button mat-raised-button style="outline: none;" color="primary" [routerLink]="['/content', data.id]" (click)="close()">Start</button>
      </div>
    </div>
  </div>
</mat-dialog-content>
