@import '~@angular/material/theming';
@import "src/_variables.scss";

mat-card img {
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 162px;
}

.details mat-card img {
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 188px;
}

.capsule-container {
  padding: 15px 10px;
}

.clickable {
  cursor: pointer;
}

.capsule {
  padding: 0;
  border-radius: 250px;
  overflow: hidden;
  //noinspection CssInvalidPropertyValue
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  outline: none;
}

.capsule-border {
  border-radius: 250px;
  overflow: hidden;
  //noinspection CssInvalidPropertyValue
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  border: 10px solid #DEDEDE !important;
}

.details-modal {
  border-radius: 100px;
}

.capsule-text {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  font-weight: bolder;
}

.capsule-heading {
  font-size: 28px;
  line-height: 32px;
}

.capsule-subheading {
  font-size: 16px;
  line-height: 20px;
  font-family: "Playfair Display";
}

:host ::ng-deep .mat-chip-list-wrapper {
  justify-content: center;
}

.accent-color {
  font-weight: bold;
  color: mat-color($app-primary, main) !important;
}

.white-icon {
  filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);
}

.gray-icon {
  opacity: 0.5;
}

.capsule-details-heading {
  font-size: 36px;
}

.capsule-details-subheading {
  font-size: 18px;
  font-family: "Playfair Display";
}

.topic-tags {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
