<div fxLayout="row" fxLayoutAlign="center center" style="height: 65px; background-color: #FF7D12;"></div>
<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 capsule-container" *ngFor="let capsule of capsules">
          <div class="capsule-border" style="padding: 10px;">
            <mat-card class="view overlay capsule" [routerLink]="['/content', capsule.id]">
              <img src="{{ 'https://raw.githubusercontent.com/rosmaryg/capsules-content/master/images/' + capsule.id + '.jpg' }}" class="img-fluid " alt="">
              <div class="mask flex-center rgba-orange-light">
                <div fxLayout="column" fxLayoutAlign="end center">
                  <h1 class="white-text">{{ capsule.title }}</h1>
                  <h5 class="white-text">{{ capsule.meta.author }}</h5>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
