<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="70">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4" style="padding: 10px;" *ngFor="let capsule of capsules" [routerLink]="['/content', capsule.id]">
          <mat-card class="view overlay" style="padding: 0; border-radius: 250px;">
            <img src="{{ capsule.img }}" class="img-fluid " alt="">
            <div class="mask flex-center rgba-orange-light">
              <h3 class="white-text">{{ capsule.title }}</h3>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
</div>
