<main style="margin-bottom: 100px">
  <div fxLayout="row" fxLayoutAlign="center center" style="height: 10px; background-color: #FF7D12;"></div>
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar intro-fixed-nav" [containerInside]="false">
  <div fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" [routerLink]="['/']" href="#">
          <img src="./assets/images/logo.png" style="width: 300px; padding: 10px 50px;">
        </a>
      </mdb-navbar-brand>

      <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        <p style="margin: 0;">Search</p>
      </div>

      <links>
        <ul class="navbar-nav mr-auto">
          <li *ngFor="let navBarItem of navBarItems" routerLink="{{ navBarItem.route }}" routerLinkActive="active" class="nav-item waves-light menu-item" mdbWavesEffect>
            <a class="nav-link" [routerLink]="[ navBarItem.route ]">{{ navBarItem.name.toLocaleUpperCase() }}</a>
          </li>
          <li class="nav-item waves-light menu-item" mdbWavesEffect *ngIf="!isLoggedIn()">
            <a class="nav-link" [routerLink]="[ navBarLogin.route ]" [queryParams]="navBarLogin.queryParams">{{ navBarLogin.name.toLocaleUpperCase() }}</a>
          </li>
          <li class="nav-item dropdown menu-item" dropdown *ngIf="isLoggedIn()">
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              {{ userName.toLocaleUpperCase() }}
              <span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/admin" *ngIf="contributor">Admin</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="becomeAContriutor()" *ngIf="!contributor">Become a Contributor</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light" [routerLink]="[ navBarLogout.route ]" (click)="logout()">{{ navBarLogout.name.toLocaleUpperCase() }}</a>

            </div>
          </li>

        </ul>
      </links>
    </div>
  </div>
</mdb-navbar>

<router-outlet></router-outlet>
</main>
<footer class="page-footer font-small black pt-4 fixed-bottom" style="padding-bottom: 20px">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div>Jesus Youth Tech Missionary Initiative. All Rights Reserved.</div>
    <div fxLayout="row">
      <img src="./assets/images/jy_logo_white.png" style="height:100%; width: 50px">
      <div fxLayout="column" fxLayoutAlign="center start" style="padding-left: 10px">
        <p style="margin: 0;">A MISSIONARY MOVEMENT</p>
        <p style="margin: 0;">AT THE SERVICE OF THE CHURCH</p>
      </div>
    </div>
  </div>
</footer>
