/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #FF3F12;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #FF3F12;
  }
}

.slick-slider {
  user-select: text;
}
