/* You can add global styles to this file, and also import other style files */
// style file is capsule-theme-styles.scss

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #FFFFFF;
  }
}

.full-screen-dialog{
  max-width: 100vw !important;
  box-sizing: border-box;
  overflow: hidden;
}

.full-screen-dialog .mat-dialog-container{
  border-radius: 0;
  width:100vw;
  height:100vh;
  min-height:100vh;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(0,0,0,.8);
}
