:host mat-select ::ng-deep .mat-select-arrow {
  border: none;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .cdk-overlay-panel{
  min-width:180px;
}

::ng-deep .mat-select-panel-wrap .mat-select-panel{
  width:100px;
}

.sorter-border {
  border-radius: 250px;
  border: thin solid #d1d1d1;
  height: 40px;
  width: 350px;
}

.sorter-select {
  height: 40px;
  background-color: #f5f5f5;
  border: solid thin #d1d1d1;
}

.sorter-label {
  border-right: solid thin #d1d1d1;
  height: 40px;
}

.sorter-button {
  border-left: solid thin #d1d1d1;
  height: 40px;
}

.sort-option {
  opacity: 0.7;
}
